<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aquariummer.repository.aquarium.SampleMapper">
	<resultMap id="sampleResultMap" type="com.aquariummer.responseModel.aquarium.Sample">
		<id property="companyId" column="company_id" />
		<result property="companyName" column="company_name"/>
	</resultMap>
	<select id="search" resultMap="sampleResultMap">
		SELECT company_id, company_name FROM company WHERE company_id = 1;
	</select>
</mapper>